body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app-engine {
  background: #ffffff;
  padding: 40px;
  max-width: 630px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: #885df1;
  color: white;
  padding: 15px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

main {
  padding: 35px 0;
}

.weather-app-details {
  display: flex;
  justify-content: space-between;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.highlight {
  color: #f65282;
}

.degree-unit-container {
  display: flex;
}

.emoji {
  font-size: 44px;
  margin-top: 22px;
}

.degree {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.unit {
  margin-top: 16px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
